{# Load the tag library #}
{% load bootstrap3 %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block scripts %}
{% endblock %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Game</a></li>
            <li role="presentation"><a href={% url 'logout'%}>Logout</a></li>
            <li role="presentation"><a href="#">Help</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        {% block header %}
            <h3 class="text-muted">Point Defence</h3>
        {% endblock %}
      </div>

      <div class="jumbotron">
        {% block content %}
        {% endblock %}
      </div>
      {% block footer %}
      <div class="row marketing">
        <div class="col-lg-6">
            <h4>Point Defence</h4>
            <p>The missile defence programming game no-one asked for.</p>

        </div>

            <footer class="footer">
            <p>&copy; 2016</p>
            </footer>

      </div> <!-- /container -->
      {% endblock %}

  </body>
{% block modals %}
{% endblock %}

</html>