{% extends "starter/base.html" %}
{% block content %}
<div class = "btn-group-horizontal">
            <a href={% url 'missile-designer'%} class="btn btn-default active" role="button">Missile Designer</a>
            <a href={% url 'gun-designer'%} class="btn btn-default active" role="button">Gun Designer</a>
            <a href={% url 'controller-designer'%} class="btn btn-default active" role="button">Controller Designer</a>
</div>
{% endblock %}

{%block header %}
Pick what you want to design
{% endblock %}